/* Global View aka Desktop View */

body {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: #EBEBEB;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}

nav {
    display: none;
}

nav a {
    display: block;
}

.header-container {
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    /* keep the menu header stick/fixed*/
    width: 100%;
    /* i need to do that because the position is fixed, due that i need to keep it fixed taking all the s*/
}

header {
    max-width: 1024px;
    /* background-color: blueviolet; */
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(43, 226, 147);
}

.col p {
    font-size: 0.825rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}

.mybutton {
    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}

.mob-wrapper {
    display: none;
    padding-right: 30px;
}


/* .mob-nav {
    display: none;
    position: absolute;
    padding-top: 10px;


.navbutton {
    display: block;
    background-color: coral;
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
} */


/*en desktop size*/


/* Tablet View */

@media (max-width: 768px) {
    .col {
        width: 45%;
    }
    .hide-desktop-only {
        display: block;
    }
    header {
        display: block;
        text-align: center;
    }
    .header-container {
        position: relative;
        /* its relative to the others items of the page in that section*/
    }
    .container {
        padding-top: 40px;
    }
    nav a {
        display: block;
    }
    .logo {
        padding: 40px 0;
    }
    .mybutton {
        margin-left: 0;
    }
    .mob-wrapper {
        display: block;
    }
    .mob-nav {
        display: none;
        position: relative;
        padding-top: 10px;
        justify-content: center;
    }
    .navbutton {
        display: block;
        background-color: coral;
        padding: 15px 30px;
        text-align: center;
    }
}


/* Mobile View */

@media (max-width: 400px) {
    .col {
        width: 100%;
    }
    .hide-mobile {
        display: none;
    }
}