/* Global View aka Desktop View */



.container {
    background-color: rgb(43, 226, 147);
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.col {
    width: 30%;
    margin-bottom: 40px;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
} 






/* Tablet View */
@media (max-width: 768px){
    
.col {
    width: 45%;
}

.hide-desktop-only {
    display: block;
}

}



/* Mobile View */
@media (max-width: 400px){
    
    .col {
        width: 100%;
    }
    

    .hide-mobile {
        display: none;
    }

}

